<div class="header-area">
  <div class="logo-top">
    <a href="index.html">
      <img src="images/logo/Cinefila_logo_white_web.svg" alt="Cinefila Logo">
    </a>
  </div>

  <!-- Hamburger icon (mobile only) -->
  <div class="hamburger-menu-icon">
    <img src="images/logo/menu_hamburger_white.jpg" alt="Menu Icon">
  </div>

  <header id="main-header">
    <nav class="main-nav">
      <a href="news.html">News</a>
      <a href="index.html#whatcanwedo">What can we do for you</a>
      <a href="catalogue.html">Film Catalogue</a>
      <a href="index.html#about">About us & contacts</a>
    </nav>
  </header>
</div>