<div class="header-area">
  <div class="logo-top">
    <a href="index.html">
      <img src="images/logo/Cinefila_logo_white_web.svg" alt="Cinefila Logo">
    </a>
  </div>

  <header id="main-header">
    <nav>
      <a href="news.html">News</a>
      <a href="index.html#whatcanwedo">What can we do for you</a>
      <a href="catalogue.html">Film Catalogue</a>
      <a href="about.html">About us & contacts</a>
    </nav>

    <div class="hamburger-menu-icon">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </header>
</div>